<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <div class="blue-rectangle top-rectangle"></div>    
   <div class="imagine-about"><img src="FoyS_ThXwAABlP2.jpg"></div>
   <u><div class="titlu"><h1>About</h1></div></u>
   <div class="despre">&nbsp&nbsp&nbsp<p>  The current weather, weather forecast for your city - along with the weather trend, rain radar, weather news, and more from Meteo & Radar. Despite being rich in information and providing accurate details about the weather conditions for a 7-day interval, the Meteorology Information Tracker website.</p></div>
   <hr>
   <button class="button" role="button">Read more</button>
   <div class="blue-rectangle bottom-rectangle"></div>
</body>
</html>
