
<div class="nume">
  <h1><a routerLink="home">Meteorology Information Tracker</a></h1></div>



<nav class="navbar-nou">

    <ul class="nav-links">

      <div class="menu">

        <div class="home">
        <li><a href="#" routerLink="home">Home</a></li>
      </div>

        <li><a href="#" routerLink="about">About</a></li>

        <div class="map">
        <li><a href="#" routerLink="worldmap">World Map</a></li>
      </div>

        <li><a href="#" routerLink="uyw">UYW</a></li>

        <div class="contact">
        <li><a href="#" routerLink="contact">Contact</a></li>
      </div>

      </div>

    </ul>

  </nav>
