<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de Contact</title>
</head>
<body>
    <div class="container">
        <h1>Contactează-ne</h1>
        <p>Completează formularul de mai jos pentru a ne contacta.</p>
        <form action="#" method="post">
            <label for="name">Nume:</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="message">Mesaj:</label>
            <textarea id="message" name="message" rows="4" required></textarea>

            <button type="submit">Trimite</button>
        </form>
    </div>
    <div>
        <a href="https://www.instagram.com/biancaelenapasare/" target="_blank">biancaelenapasare</a><br>
        <a href="https://www.instagram.com/diana._.iza/" target="_blank">diana._.iza</a><br>
        <a href="https://www.instagram.com/__62arek27__/" target="_blank">__62arek27__</a><br>
        <a href="https://www.instagram.com/liviu772/" target="_blank">liviu772</a><br>
        <a href="https://www.instagram.com/instavladu/" target="_blank">instavladu</a><br>
        <a href="https://www.instagram.com/andreicaragea_5/" target="_blank">andreicaragea_5</a><br>
  </div>
</body>
</html>
